.background-section {
    background-color: white;
    
    p {
        color: #4599f4;
        font-family: 'Helvetica Neue';
        margin-right: 3rem;
        margin-left: 3rem;
    }
}

.background-quote-section {
    background-color: #c2dffc;
    color: #4599f4;
    text-align: center;
    font-style: italic;
    padding: 5rem;
}