.ecological-impacts-section {
    background-color: white;
    margin: 0 auto;

        h1 {
            margin-right: 3rem;
            margin-left: 3rem;
            padding-top: 1rem;
        }

        p {
            color: #4599f4;
            font-family: 'Helvetica Neue';
            margin-right: 3rem;
            margin-left: 3rem;
        }

        img {
            margin: 2rem auto;
            align-content: center;
        }

        .comanche-springs {
            color: #4599f4;
            text-align: center;
        }
}