.ecological-impacts-section {
    background-color: white;
    margin: 0 auto;

        h1 {
            margin-right: 3rem;
            margin-left: 3rem;
            padding-top: 1rem;
            font-family: 'Libre Franklin', sans-serif;
        }

        h5 {
            font-style: italic;
            margin-right: 3rem;
            margin-left: 3rem;
            text-align: center;
        }

        p {
            color: #4599f4;
            font-family: 'Montserrat', sans-serif;
            margin-right: 3rem;
            margin-left: 3rem;
        }

        img {
            margin: 3rem auto;
            align-content: center;
        }

        .ecological-impacts-1 {
            text-align: center;
        }
        
        .ecological-impacts-2 {
            img {
                text-align: center !important;
                margin: 3rem auto !important;
            }
        }

        .comanche-springs {
            color: #4599f4;
            text-align: center;

            h3 {
                font-family: 'Libre Franklin', sans-serif;
            }
        }
}