.international-impacts-section {
    background-color: white;

    h1 {
        margin-right: 3rem;
        margin-left: 3rem;
        padding-top: 1rem;
    }

    p {
        color: #4599f4;
        font-family: 'Helvetica Neue';
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .international-quote-section {
        background-color: #c2dffc;
        color: #4599f4;
        font-style: italic;
        padding: 8rem;

        h3 {
            margin: 1rem auto;
        }
    }
}