.what-can-be-done {
    text-align: center;
    margin: 3rem auto;

    h4 {
        color: #4599f4;
    }

    p {
        color: #4599f4;
        font-family: 'Helvetica Neue';
    }

    button {
        background-color: #4599f4;
        color: white;
        font-family: 'Helvetica Neue';
        border-radius: 5px;
        padding: 10px;
        width: 60%;
        align-items: bottom;
    }
}