.footer-section {
    background-color: #c2dffc;

    h1 {
        font-family: 'Libre Franklin', sans-serif;
        color: #4599f4;
        font-size: 7rem;
    }

    h3 {
        font-family: 'Libre Franklin', sans-serif;
        color: white;
        font-size: 2.5rem;
        line-height: 2.75rem;
        padding: 0;
    }

    h4 {
        font-family: 'Libre Franklin', sans-serif;
        color: #4599f4; 
    }

    p {
        color: #4599f4;
        font-family: 'Montserrat', sans-serif;
        line-height: .5rem;
    }

    .row {
        text-align: center;
    }
}