.international-impacts-section {
    background-color: white;

    h1 {
        font-family: 'Libre Franklin', sans-serif;
        margin-right: 3rem;
        margin-left: 3rem;
        padding-top: 1rem;
    }

    p {
        color: #4599f4;
        font-family: 'Montserrat', sans-serif;
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .international-2 {
        img {
            text-align: center;
        }
    }

    .international-quote-section {
        background-color: #c2dffc;
        color: #4599f4;
        font-style: italic;
        padding: 8rem;

        h3 {
            font-family: 'Libre Franklin', sans-serif;
            margin: 1rem auto;
        }
    }
}