.regional-impacts-section {
    padding-top: 1rem;
    background-color: white;

    h1 {
        margin-left: 3rem;
        font-family: 'Libre Franklin', sans-serif;
        justify-items: right !important;
    }

    p {
        color: #4599f4;
        font-family: 'Montserrat', sans-serif;
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .regional-1 {
        text-align: center;
    }

    .regional-mobile {
        display: none;
    }

        @media screen and (max-width: 414px) {

        .regional-1 {
            display: none;
        }

        .regional-mobile {
            display: inline-block;
        }
    }
}
