@import url("https://fonts.googleapis.com/css?family=Libre+Franklin|Montserrat&display=swap");
@import "style.scss";
@import "../fonts/fonts.css";

.water-campaign-page {

    nav {
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(5px);

        .navlink {
            font-family: $font-family-heading;
            color: $red;
            text-align: center;

            &:hover {
                color: $aqua;
            }
        }
    }

    #nav-logo {
        width: 70% !important;
        height: auto;
        padding: 2px;
    }

    .hero-section {
        text-align: center;
        background-image: url("../images/watc-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50%;
        width: 100%;
        padding: 5rem !important;

        img {
            width: 40%;
            height: auto;
            margin: 4rem 0 10rem 0 !important;
        }

        .tagline {
            font-family: $font-family-heading !important;
            color: white;
            padding: 4rem auto !important;
        }
    }

    .components {
        
        h1 {
            font-family: $font-family-heading;
            color: $aqua;
        }

        p, li {
            font-family: $font-family-base;
            color: $dark-blue;
            font-size: 1.13rem;
        }

        span {
            color: $red;
        }

        .background-title,
        .international-title,
        .regional-title,
        .ecological-title {
            background-image: url("../images/titleBGThin.png");
            background-repeat: no-repeat;
            background-size: 400px auto;
            background-position: center;
            padding: 1rem;

            h1 {
                padding: 4.25rem;
                text-align: center;
            }
        }

        .wcbd-title {
            background-image: url("../images/titleBGThin.png");
            background-repeat: no-repeat;
            background-size: 400px auto;
            background-position: center;
            margin: 2rem;
            padding: 4.6rem;
        }

        .background-section,
        .regional-impact-section,
        .international-impact-section,
        .ecological-impact-section {
            margin: 1rem 4rem 2rem 4rem !important;

            h5 {
                font-family: $font-family-base;
                color: $red;
                font-style: italic;
                font-weight: 800;
            }

            .background-2 {
                text-align: center;

                .background-image-one,
                .background-image-two {
                    max-width: 500px !important;
                    max-height: auto;
                    padding: 5px;
                }
            }

            .regional-1 {
                text-align: center;

                #regional-one-img,
                #regional-two-img {
                    max-width: 500px !important;
                    max-height: auto;
                    padding: 5px;
                }
            }

            .international-2 {
                text-align: center;
                
                    .international-map-img {
                        text-align: center !important;
                        max-width: 600px;
                        max-height: auto;
                        // position: relative;
                        // top: -8rem;
                    }
            }

            .ecological-1 {
                #ecological-one-img,
                #ecological-two-img {
                    max-width: 500px !important;
                    max-height: auto;
                    padding: 5px;
                }
            }

            .ecological-2 {
                #ecological-three-img {
                    max-width: 500px !important;
                    max-height: auto;
                    padding: 5px;
                }

                .ecological-quote {
                    padding: 1rem 3rem 1rem 3rem;
                    color: $red;
                    font-style: italic;
                    font-weight: 800;
                }
            }

            .comanche-springs {
                h4 {
                    text-align: center;
                    color: $red;
                    font-family: $font-family-heading;
                }

                h3 {
                    font-family: $font-family-large-quote;
                    color: $red;
                    font-weight: 600;
                    padding: .5rem;
                }

                .comanche-quote {
                    color: $red;
                    font-style: italic;
                    font-weight: 800;
                    text-align: center;
                }
            }
        }

        .background-section {
            margin-top: 3rem !important;

            .background-2 {
                margin-top: 1.5rem !important;
            }
        }

        .quote-one-section {
            background-image: url("../images/quote-1-bg.png");
            background-size: cover;
            width: 100%;
            padding: 125px 0 100px 0;
            margin: 7rem 0 5rem 0;

            .quote-section {
                text-align: center;

                h3 {
                font-family: $font-family-large-quote;
                font-style: italic;
                font-weight: 800;
                font-size: 3.5rem !important;
                color: white;
                text-align: center !important;
                padding: 0 15px 6px 15px;
                text-shadow: 1px 1px rgba(0, 0, 0, .25);
                }
            }
        }

        .quote-two-section {
            background-image: url("../images/quote-2-bg.png");
            background-size: cover;
            width: 100%;
            padding: 125px 0 100px 0;
            margin: 3rem 0 5rem 0;

            h3 {
                font-family: $font-family-large-quote;
                font-style: italic;
                font-weight: 800;
                font-size: 3.5rem !important;
                color: white;
                text-align: center !important;
                padding: 0 15px 6px 15px;
                text-shadow: 1px 1px rgba(0, 0, 0, .25);
            }
        }

        .what-can-be-done {
            margin: 5rem 0 0 0;

            .wcbd-title {
                margin: 0 auto !important;

                h3 {
                    font-family: $font-family-heading !important;
                    color: $aqua;
                    text-align: center;
                }
            }

            .wcbd-cta {
                margin: 5rem 0 0rem 0 !important;
                text-align: center;

                h4 {
                    font-family: $font-family-heading;
                    color: $red;
                }

                button {
                    font-family: $font-family-sub-heading;
                    font-size: 1.25rem;
                    background-color: $aqua;
                    color: white;
                    border: 2px solid white;
                    border-radius: 5px;
                    padding: 2px 20px 6px 20px;
                    width: 50%;
                    align-items: bottom;

                    &:hover {
                        background-color: transparent;
                        border: 2px solid $aqua;
                        color: $aqua;
                    }
                }

                #legislator-img, 
                #community-img, 
                #advocate-img {
                    height: 12%;
                    width: auto;
                    padding: 5px;
                    margin: 15px;
                }
            }
        }

        .footer-section {
            text-align: center;
            padding: 2rem 0 10rem 0;
            background-color: #3e3843;

            h4 {
                font-family: $font-family-heading;
                color: $aqua;
            }

            a {
                font-family: $font-family-base;
                color: white;

                &:hover {
                    color: $aqua;
                    text-decoration: none;
                }
            }

            .footer-body {
                padding-bottom: 4rem;
            }

            .social-contact {
                width: 30%;
                text-align: center;
                display: inline-flex;

                .socialIcon {
                    text-align: center;
                    margin: 1.25rem auto;
                }
            }

            #footer-logo {
                max-width: 12%;
                max-height: auto;
                margin: 2rem auto;
            }
        }
        
    }
}

// Mobile phone

@media screen and (min-width: 321px) and (max-width: 414px) {
    .water-campaign-page {

        #nav-logo {
            width: 33% !important;
            height: auto;
            padding: 1px;
        }

        .hero-section {
            height: 40% !important;
            width: 100%;
            padding: 2rem !important;

            img {
                width: 70%;
                height: auto;
                margin: 4rem 0 6rem 0 !important;
            }
        }

        .components {

            h1 {
                font-size: 1.65rem !important;
            }

            .background-section,
            .regional-impact-section,
            .international-impact-section,
            .ecological-impact-section,
            .what-can-be-done {
                margin: 1rem 1.5rem 2rem 1.5rem !important;

                .background-2 {
                    .background-image-one,
                    .background-image-two {
                        max-width: 320px !important;
                        max-height: auto;
                    }
                }

                .regional-mobile {
                    padding: 0 !important;

                    #regional-one-mobile,
                    #regional-two-mobile {
                        max-width: 320px !important;
                        max-height: auto;
                        padding: 5px;
                    }
                }

                .international-2 {
                    .international-map-img {
                        max-width: 320px;
                        max-height: auto;
                    }
                }

                .ecological-mobile {
                    #ecological-one-mobile,
                    #ecological-two-mobile {
                        max-width: 320px !important;
                        max-height: auto;
                        padding: 5px;
                    }
                }

                .comanche-springs {
                    iframe {
                        max-width: 330px;
                        max-height: auto;
                        padding: 2px !important;
                    }
                }

                .background-title,
                .international-title,
                .regional-title,
                .ecological-title {
                    background-image: url("../images/titleBGThin.png");
                    background-repeat: no-repeat;
                    background-size: 300px auto;
                    background-position: center;
                    padding: 1rem -2rem 1rem -2rem;

                    h1 {
                        padding: 2.5rem !important;
                        font-size: 2rem;
                    }
                }

                .wcbd-title {
                    background-image: url("../images/titleBGThin.png");
                    background-repeat: no-repeat;
                    background-size: 300px auto;
                    background-position: center;
                    padding: 1rem -2rem 1rem -2rem;
                    margin: 0 auto !important;
                }
            }

            .quote-one-section,
            .quote-two-section {
                margin: 1rem 0 1rem 0 !important;

                .quote-section {
                    h3 {
                        font-size: 1.75rem !important;
                    }
                }
            }

            .footer-section {
                .social-contact {
                    width: 15% !important;
                }

                #footer-logo {
                    max-width: 50% !important;
                }
            }
        }
    }
}

//iPad / Tablet

@media screen and (min-width: 415px) and (max-width: 769px) {
    .water-campaign-page {

        #nav-logo {
            width: 45% !important;
            height: auto;
        }

        .hero-section {
            height: 50% !important;
            width: 100%;
            padding: 2rem !important;

            img {
                width: 50%;
                height: auto;
                margin: 4rem 0 6rem 0 !important;
            }
        }

        .components {

            h1 {
                font-size: 2.25rem;
            }

            .background-section,
            .regional-impact-section,
            .ecological-impact-section,
            .what-can-be-done {
                margin: .5rem;
            }

            .background-2 {
                .background-image-one,
                .background-image-two {
                    max-width: 600px !important;
                    max-height: auto;
                }
            }

            .regional-mobile {
                padding: 0 !important;

                #regional-one-mobile,
                #regional-two-mobile {
                    max-width: 600px !important;
                    max-height: auto;
                    padding: 5px;
                }
            }

            .international-2 {
                #international-map-img {
                    max-width: 500px;
                    max-height: auto;
                    margin-bottom: 1rem;
                }
            }

            .ecological-mobile {
                margin-bottom: 2rem;

                #ecological-one-mobile,
                #ecological-two-mobile {
                    max-width: 500px;
                    max-height: auto;
                    padding: 5px;
                }
            }

            .what-can-be-done {
            
                .wcbd-title {
                    margin: 1rem auto !important;
                }
                .wcbd-cta {
                    margin: 0 auto !important;

                    p {
                        padding: 0 2rem 0 2rem;
                    }
                }
            }
        }
    }
}
